* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'open sans';
}

.fondo {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.imagen-icon img {
    width: 10px;
    height: 10px;

}

.textos {
    color: white;
}